.modal__container-3bTh {
  display: flex;
  flex-direction: column;
  width: 90vw;
  padding: 20px;
  z-index: 11077;
}
@media (min-width: 768px) {
  .modal__container-3bTh.modal__small-2bmw {
    width: 30vw;
  }
}
@media (min-width: 768px) {
  .modal__container-3bTh.modal__default-2go5 {
    width: 50vw;
  }
}
@media (min-width: 768px) {
  .modal__container-3bTh.modal__large-dnmx {
    width: 70vw;
  }
}
.modal__container-3bTh.modal__fullwindow-2vqh {
  position: fixed;
  width: 100vw;
  height: 100%;
  top: 0;
  left: 0;
}
@media (min-width: 768px) {
  .modal__container-3bTh.modal__fullwindow-2vqh {
    padding: 30px;
  }
}
.modal__container-3bTh.modal__mitele-mna9 {
  background-color: #000;
  color: #fff;
}
.modal__container-3bTh.modal__mitele-mna9 .modal__headerFixedMobile-1RcU {
  background-color: #000;
  z-index: 10;
}
@media (min-width: 768px) {
  .modal__container-3bTh.modal__mitele-mna9.modal__opacity-2NU_ {
    background-color: rgba(0, 0, 0, 0.9);
  }
}
.modal__container-3bTh.modal__multisite-2UxZ {
  background-color: #fff;
  color: #000;
}
.modal__container-3bTh.modal__multisite-2UxZ .modal__headerFixedMobile-1RcU {
  background-color: #fff;
}
.modal__container-3bTh .modal__content-1Ky7 {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
}
.modal__header-wibh {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.modal__headerFixedMobile-1RcU {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  padding: 25px 30px 20px;
  display: flex;
  align-items: center;
}
@media (min-width: 768px) {
  .modal__headerFixedMobile-1RcU {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
  }
}
.modal__headerFixed-zgxP {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  padding: 20px;
  background-color: #000;
  padding: 25px 30px 20px;
}
@media (min-width: 768px) {
  .modal__headerFixed-zgxP {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
  }
}
@media (min-width: 768px) {
  .modal__headerFixedDesktop-1ueb {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    padding: 22px;
    background-color: #000;
    padding: 23px 30px 20px;
  }
}
.modal__headerReverse-LBFw {
  flex-direction: row-reverse;
}
@media (min-width: 768px) {
  .modal__headerReverseDesktop-38xc {
    flex-direction: row;
  }
}
.modal__headerOnlyClose-1SmM {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.modal__close-3gQL {
  display: flex;
  width: 25px;
  height: 25px;
}
.modal__closeV3-3snG {
  display: flex;
  width: 25px;
  height: 25px;
}
.modal__closeCircle-MNh6 {
  display: flex;
  margin-top: 0;
  height: 47px;
  width: 47px;
  padding: 0;
}
.modal__childrensHeaderFix-2QMD {
  margin-top: 60px;
}
@media (min-width: 768px) {
  .modal__childrensHeaderFix-2QMD {
    margin-top: 80px;
  }
}
.modal__topLeftNode-gnCd {
  display: flex;
}
.link__link-1f64 {
  text-decoration: none;
}
.link__Icon-2kMM {
  width: 0;
  height: 0;
}
@media (min-width: 1024px) {
  .link__Icon-2kMM {
    height: 23px;
    width: 20px;
    margin-left: 10px;
  }
}
.link__button-2pAO {
  border: 0;
  padding: 0;
  margin: 0;
}
.progressBar__progress_bar-rSWP {
  height: 5px;
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
}
.progressBar__progress_bar-rSWP .progressBar__percentage-3VkI {
  height: 5px;
  opacity: 0.4;
  display: flex;
  background-color: #484848;
}
.image__image-1sGr {
  width: 100%;
  height: 100%;
}
.userProfile__userProfile-3Hu4.userProfile__circle-32Tm {
  border-radius: 50%;
}
.userProfile__userProfile-3Hu4.userProfile__small-3v7v {
  width: 15px;
  height: 15px;
}
.userProfile__userProfile-3Hu4.userProfile__medium-1zm1 {
  width: 40px;
  height: 40px;
}
.userProfile__userProfile-3Hu4.userProfile__large-2b6W {
  width: 65px;
  height: 65px;
}
.dropDownMenu__dropDownMenu-1J0W {
  position: relative;
  display: inline-block;
  flex-direction: column;
  outline: 0;
  cursor: pointer;
}
.dropDownMenu__dropDownMenu-1J0W .dropDownMenu__literal-26lj {
  align-items: center;
  display: flex;
}
.dropDownMenu__dropDownMenu-1J0W span {
  margin-right: 5px;
}
.dropDownMenu__dropDownMenu-1J0W button:active {
  outline: 0;
}
.dropDownMenu__dropDownMenu-1J0W button:hover {
  background-color: transparent;
}
.dropDownMenu__dropDownMenu-1J0W .dropDownMenu__dropDownContainer-26dU {
  display: none;
  position: absolute;
  z-index: 1;
  flex-direction: column;
  width: -webkit-max-content;
  width: max-content;
  background-color: #ccc;
}
.dropDownMenu__dropDownMenu-1J0W
  .dropDownMenu__dropDownContainer-26dU.dropDownMenu__right-2LnQ {
  right: 0;
}
.dropDownMenu__dropDownMenu-1J0W
  .dropDownMenu__dropDownContainer-26dU.dropDownMenu__right-2LnQ::before {
  right: 7px;
}
.dropDownMenu__dropDownMenu-1J0W
  .dropDownMenu__dropDownContainer-26dU.dropDownMenu__left-3B_q {
  left: 0;
}
.dropDownMenu__dropDownMenu-1J0W
  .dropDownMenu__dropDownContainer-26dU.dropDownMenu__left-3B_q::before {
  left: 7px;
}
.dropDownMenu__dropDownMenu-1J0W
  .dropDownMenu__dropDownContainer-26dU.dropDownMenu__hasTick-3awR::before {
  content: "";
  top: -7px;
  position: absolute;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
}
.dropDownMenu__dropDownMenu-1J0W .dropDownMenu__dropDownContainer-26dU li {
  padding: 7px;
}
.dropDownMenu__dropDownMenu-1J0W.dropDownMenu__hover-wIpJ:hover {
  background-color: transparent;
}
.dropDownMenu__dropDownMenu-1J0W.dropDownMenu__hover-wIpJ:hover
  .dropDownMenu__dropDownContainer-26dU {
  display: flex;
}
.dropDownMenu__dropDownMenu-1J0W.dropDownMenu__focus-3wLV:focus,
.dropDownMenu__dropDownMenu-1J0W.dropDownMenu__focus-3wLV[focus-within] {
  border-color: transparent;
}
.dropDownMenu__dropDownMenu-1J0W.dropDownMenu__focus-3wLV:focus,
.dropDownMenu__dropDownMenu-1J0W.dropDownMenu__focus-3wLV:focus-within {
  border-color: transparent;
}
.dropDownMenu__dropDownMenu-1J0W.dropDownMenu__focus-3wLV:focus
  .dropDownMenu__dropDownContainer-26dU,
.dropDownMenu__dropDownMenu-1J0W.dropDownMenu__focus-3wLV[focus-within]
  .dropDownMenu__dropDownContainer-26dU {
  display: flex;
}
.dropDownMenu__dropDownMenu-1J0W.dropDownMenu__focus-3wLV:focus
  .dropDownMenu__dropDownContainer-26dU,
.dropDownMenu__dropDownMenu-1J0W.dropDownMenu__focus-3wLV:focus-within
  .dropDownMenu__dropDownContainer-26dU {
  display: flex;
}
.dropDownMenu__on-1-7P {
  display: block !important;
}
.dropDownMenu__off-2Bxd {
  display: none !important;
}
.groupSpanSeparator__groupSpanSeparatorContainer-32ac {
  display: inline-flex;
  align-items: center;
}
.groupSpanSeparator__groupSpanSeparatorContainer-32ac div,
.groupSpanSeparator__groupSpanSeparatorContainer-32ac i {
  margin-right: 5px;
}
.groupSpanSeparator__groupSpanSeparatorContainer-32ac div:last-child,
.groupSpanSeparator__groupSpanSeparatorContainer-32ac i:last-child {
  margin-right: 0;
}
.groupSpanSeparator__groupSpanSeparatorContainer-32ac div:last-child svg,
.groupSpanSeparator__groupSpanSeparatorContainer-32ac i:last-child svg {
  display: flex;
  align-items: flex-end;
  margin: 0 5px;
}
.groupSpanSeparator__container_div-tAZ4 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.groupSpanSeparator__container_div-tAZ4 span {
  display: flex;
  align-items: center;
}
.groupSpanSeparator__white-3t58 {
  color: #fff;
}
.groupSpanSeparator__black-2BUw {
  color: #000;
}
.groupSpanSeparator__icon-1VvH {
  width: 12px;
  height: 12px;
}
.controlIcon__icon-k8gh {
  display: inline-flex;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.controlIcon__white-emYn {
  filter: brightness(0) invert(1);
}
@media (hover: hover) {
  .controlIcon__white-emYn:hover.controlIcon__hoverBlack-2pDP {
    filter: grayscale(100%) brightness(10%);
  }
  .controlIcon__white-emYn:hover.controlIcon__hoverCyan-1_xx {
    filter: none;
  }
  .controlIcon__white-emYn:hover.controlIcon__hoverGray-1qjy {
    filter: grayscale(100%) brightness(40%);
  }
  .controlIcon__white-emYn:hover.controlIcon__hoverOrange-1lYk {
    filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg)
      saturate(600%) contrast(0.8);
  }
}
.controlIcon__black-dLbh {
  filter: grayscale(100%) brightness(10%);
}
@media (hover: hover) {
  .controlIcon__black-dLbh:hover.controlIcon__hoverCyan-1_xx {
    filter: none;
    -weblit-filter: none;
  }
  .controlIcon__black-dLbh:hover.controlIcon__hoverWhite-2uyQ {
    filter: grayscale(100%) brightness(5);
  }
  .controlIcon__black-dLbh:hover.controlIcon__hoverGray-1qjy {
    filter: grayscale(100%) brightness(40%);
  }
  .controlIcon__black-dLbh:hover.controlIcon__hoverOrange-1lYk {
    filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg)
      saturate(600%) contrast(0.8);
  }
}
.controlIcon__orange-2IkW {
  filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg)
    saturate(600%) contrast(0.8);
}
@media (hover: hover) {
  .controlIcon__orange-2IkW:hover.controlIcon__hoverCyan-1_xx {
    filter: none;
    -weblit-filter: none;
  }
  .controlIcon__orange-2IkW:hover.controlIcon__hoverWhite-2uyQ {
    filter: grayscale(100%) brightness(5);
  }
  .controlIcon__orange-2IkW:hover.controlIcon__hoverGray-1qjy {
    filter: grayscale(100%) brightness(40%);
  }
  .controlIcon__orange-2IkW:hover.controlIcon__hoverBlack-2pDP {
    filter: grayscale(100%) brightness(10%);
  }
}
.controlIcon__gray-3wbZ {
  filter: grayscale(100%) brightness(40%);
}
@media (hover: hover) {
  .controlIcon__gray-3wbZ:hover.controlIcon__hoverBlack-2pDP {
    filter: grayscale(100%) brightness(10%);
  }
  .controlIcon__gray-3wbZ:hover.controlIcon__hoverCyan-1_xx {
    filter: none;
  }
  .controlIcon__gray-3wbZ:hover.controlIcon__hoverWhite-2uyQ {
    filter: grayscale(100%) brightness(5);
  }
  .controlIcon__gray-3wbZ:hover.controlIcon__hoverOrange-1lYk {
    filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg)
      saturate(600%) contrast(0.8);
  }
}
.controlIcon__lightGray-3I59 {
  filter: grayscale(100%) brightness(100%);
}
@media (hover: hover) {
  .controlIcon__lightGray-3I59:hover.controlIcon__hoverBlack-2pDP {
    filter: grayscale(100%) brightness(10%);
  }
  .controlIcon__lightGray-3I59:hover.controlIcon__hoverCyan-1_xx {
    filter: none;
  }
  .controlIcon__lightGray-3I59:hover.controlIcon__hoverWhite-2uyQ {
    filter: grayscale(100%) brightness(5);
  }
  .controlIcon__lightGray-3I59:hover.controlIcon__hoverOrange-1lYk {
    filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg)
      saturate(600%) contrast(0.8);
  }
}
.groupSplitText__groupSplitText-2X0O {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  list-style: none;
  flex-direction: column;
}
.groupSplitText__groupSplitText-2X0O.groupSplitText__textAlign-1ccd {
  align-items: center;
}
@media (min-width: 768px) {
  .groupSplitText__groupSplitText-2X0O {
    flex-direction: row;
    align-items: center;
  }
}
.groupSplitText__elementSplit-Y1m3 {
  display: inline-flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 10px;
}
.groupSplitText__elementSplit-Y1m3::after {
  display: none;
}
.groupSplitText__elementSplit-Y1m3:last-child::after {
  display: none;
}
@media (min-width: 768px) {
  .groupSplitText__elementSplit-Y1m3 {
    margin: 0;
    justify-content: center;
  }
  .groupSplitText__elementSplit-Y1m3::after {
    display: inline-flex;
  }
}
.groupSplitText__separatorMobile-3mPc::after {
  display: inline-flex !important;
}
.groupSplitText__pipe-3SY5::after {
  content: "|";
}
.groupSplitText__blank-1S1G::after {
  content: " ";
}
.groupSplitText__arrowRight-14Md::after {
  content: ">";
}
.groupSplitText__small-3RYX :after {
  padding: 0 5px;
}
.groupSplitText__default-26S4 :after {
  padding: 0 13px;
}
.groupSplitText__large-2xYo :after {
  padding: 0 20px;
}
.sectionsGroupMenu__sectionsGroupMenu-fXqg {
  display: flex;
}
.sectionsGroupMenu__sectionsGroupMenu-fXqg i {
  width: 0.7em;
  height: 0.7em;
}
.sectionsGroupMenu__sectionsGroupMenu-fXqg .sectionsGroupMenu__leftSide-3FpN {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-weight: 700;
}
.sectionsGroupMenu__sectionsGroupMenu-fXqg
  .sectionsGroupMenu__leftSide-3FpN
  li {
  margin-bottom: 0;
}
.sectionsGroupMenu__sectionsGroupMenu-fXqg
  .sectionsGroupMenu__leftSide-3FpN
  li:last-child {
  font-weight: 700;
}
@media (min-width: 768px) {
  .sectionsGroupMenu__sectionsGroupMenu-fXqg
    .sectionsGroupMenu__leftSide-3FpN
    li {
    margin-right: 0;
  }
}
.sectionsGroupMenu__sectionsGroupMenu-fXqg .sectionsGroupMenu__rightSide-14iJ {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-size: 14px;
}
.sectionsGroupMenu__sectionsGroupMenu-fXqg
  .sectionsGroupMenu__rightSide-14iJ
  li {
  margin-bottom: 0;
}
.liveTickerCore__liveTickerCoreContainer-RHVt {
  display: flex;
  transition: all 0.5s;
}
.liveTickerCore__liveTickerCoreContainer-RHVt.liveTickerCore__rigthShape-1HdJ {
  flex-direction: row-reverse;
  align-items: start;
}
.liveTickerCore__liveTickerCoreContainer-RHVt.liveTickerCore__rigthShape-1HdJ
  .liveTickerCore__liveShape-hirU {
  width: 4px;
  height: 4px;
  margin-left: 4px;
}
.liveTickerCore__liveTickerCoreContainer-RHVt.liveTickerCore__leftShape-3Cbm {
  flex-direction: row;
  align-items: center;
}
.liveTickerCore__liveTickerCoreContainer-RHVt.liveTickerCore__leftShape-3Cbm
  .liveTickerCore__liveShape-hirU {
  width: 9px;
  height: 9px;
  margin-right: 8px;
}
.liveTickerCore__liveTickerCoreContainer-RHVt > span {
  display: inline-flex;
}
.liveTickerCore__liveTickerCoreContainer-RHVt.liveTickerCore__hollow-1Iyz {
  border: 1px solid;
  border-radius: 3px;
  padding: 5px;
}
.liveTickerCore__liveTickerCoreContainer-RHVt .liveTickerCore__liveShape-hirU {
  display: inline-flex;
  background-color: red;
  -webkit-animation: liveTickerCore__livetickerCore_animation-3rzC 1s infinite;
  animation: liveTickerCore__livetickerCore_animation-3rzC 1s infinite;
}
.liveTickerCore__liveTickerCoreContainer-RHVt
  .liveTickerCore__liveShape-hirU.liveTickerCore__circle-_9wh {
  border-radius: 50%;
}
.liveTickerCore__liveTickerCoreContainer-RHVt
  .liveTickerCore__liveShape-hirU
  .liveTickerCore__liveShape_black--JyE {
  background-color: #000;
}
.liveTickerCore__liveTickerCoreContainer-RHVt
  .liveTickerCore__liveShape-hirU
  .liveTickerCore__liveShape_white-11Zi {
  background-color: #fff;
}
.liveTickerCore__hoverLink-306p {
  transition: all 0.5s;
}
.liveTickerCore__hoverLink-306p:hover {
  opacity: 0.6 !important;
}
@-webkit-keyframes liveTickerCore__livetickerCore_animation-3rzC {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes liveTickerCore__livetickerCore_animation-3rzC {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.header__headerContainer-1Yv7 {
  width: 100%;
  padding: 0;
  box-shadow: 0 7px 7px -5px rgba(0, 0, 0, 0.2);
}
.header__headerContainer-1Yv7 a {
  transition: opacity 0.5s;
}
.header__headerContainer-1Yv7 a:hover {
  opacity: 0.6;
}
.header__headerContainer-1Yv7 button {
  padding: 0;
  display: flex;
}
.header__headerContainer-1Yv7 hr {
  height: 1px;
  border: 0;
  margin: 0;
  padding: 0;
}
.header__headerContainer-1Yv7 ul {
  padding: 0;
}
.header__headerContainer-1Yv7 .header__phantomSectionGroup-36xM {
  height: 0;
  white-space: nowrap;
  overflow: hidden;
}
.header__headerContainer-1Yv7
  .header__phantomSectionGroup-36xM
  .header__sectionsGroupMenuContainer-1Kim
  .header__sectionsGroupMenu-2yZb {
  display: flex;
}
.header__headerContainer-1Yv7 .header__sectionsGroupMenuContainer-1Kim {
  display: flex;
  height: 100%;
  text-transform: uppercase;
  white-space: nowrap;
}
.header__headerContainer-1Yv7
  .header__sectionsGroupMenuContainer-1Kim
  .header__separator-2mz3 {
  margin: 0 18px;
}
.header__headerContainer-1Yv7
  .header__sectionsGroupMenuContainer-1Kim
  .header__sectionsGroupMenu-2yZb {
  display: none;
}
.header__headerContainer-1Yv7
  .header__sectionsGroupMenuContainer-1Kim
  .header__sectionsGroupMenu-2yZb
  li {
  min-width: 50px;
  min-height: 43px;
  justify-content: flex-start;
}
.header__headerContainer-1Yv7
  .header__sectionsGroupMenuContainer-1Kim
  .header__sectionsGroupMenu-2yZb
  li
  a {
  letter-spacing: 1px;
}
@media (min-width: 1024px) {
  .header__headerContainer-1Yv7
    .header__sectionsGroupMenuContainer-1Kim
    .header__sectionsGroupMenu-2yZb {
    display: flex;
  }
}
.header__headerContainer-1Yv7 .header__sectionsGroupMenuContainer-1Kim li {
  min-width: 50px;
  min-height: 43px;
}
.header__headerContainer-1Yv7
  .header__sectionsGroupMenuContainer-1Kim.header__hidden-3i6Q {
  overflow: hidden;
  opacity: 0;
}
.header__headerContainer-1Yv7 .header__firstHeader-3EHt {
  display: none;
  padding: 0 26px;
}
.header__headerContainer-1Yv7
  .header__firstHeader-3EHt.header__isPersonalizedSection-3AtT {
  display: flex;
}
.header__headerContainer-1Yv7
  .header__firstHeader-3EHt.header__isPersonalizedSection-3AtT
  .header__logo-fVdn {
  height: 31px;
}
.header__headerContainer-1Yv7
  .header__firstHeader-3EHt.header__isPersonalizedSection-3AtT
  .header__icon-2kgH {
  display: none;
}
@media (min-width: 1024px) {
  .header__headerContainer-1Yv7
    .header__firstHeader-3EHt.header__isPersonalizedSection-3AtT
    .header__icon-2kgH {
    display: flex;
  }
  .header__headerContainer-1Yv7
    .header__firstHeader-3EHt.header__isPersonalizedSection-3AtT
    .header__logo-fVdn {
    height: 63px;
    margin: auto;
    transition: opacity 0.5s;
  }
  .header__headerContainer-1Yv7
    .header__firstHeader-3EHt.header__isPersonalizedSection-3AtT
    .header__logo-fVdn:hover {
    opacity: 0.6;
  }
}
@media (min-width: 1024px) {
  .header__headerContainer-1Yv7 .header__firstHeader-3EHt {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: auto;
    padding: 0 40px;
  }
}
.header__headerContainer-1Yv7 .header__firstHeader-3EHt .header__logo-fVdn {
  height: 63px;
  margin: auto;
}
.header__headerContainer-1Yv7 .header__firstHeader-3EHt .header__leftSide-HBv1 {
  display: flex;
  align-items: center;
}
@media (min-width: 1024px) {
  .header__headerContainer-1Yv7
    .header__firstHeader-3EHt
    .header__leftSide-HBv1
    .header__logo-fVdn {
    margin: 0 30px;
  }
}
.header__headerContainer-1Yv7
  .header__firstHeader-3EHt
  .header__centerSide-tbBT {
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
}
.header__headerContainer-1Yv7
  .header__firstHeader-3EHt
  .header__centerSide-tbBT
  .header__dropDownMenuNodes-Ldn2
  span {
  height: 63px;
}
.header__headerContainer-1Yv7
  .header__firstHeader-3EHt
  .header__centerSide-tbBT
  .header__logo-fVdn {
  height: 63px;
  display: flex;
  transition: opacity 0.5s;
}
.header__headerContainer-1Yv7
  .header__firstHeader-3EHt
  .header__centerSide-tbBT
  .header__logo-fVdn:hover {
  opacity: 0.6;
}
.header__headerContainer-1Yv7
  .header__firstHeader-3EHt
  .header__rightSide-3j5s {
  display: inline-flex;
}
.header__headerContainer-1Yv7
  .header__firstHeader-3EHt
  .header__rightSide-3j5s
  .header__notify-3cgf {
  margin-right: 16px;
}
.header__headerContainer-1Yv7 .header__firstHeader-3EHt .header__icon-2kgH {
  width: 25px;
  height: 25px;
}
.header__headerContainer-1Yv7
  .header__firstHeader-3EHt
  .header__iconSearch-3DtC {
  width: 23px;
  height: 23px;
}
.header__headerContainer-1Yv7
  .header__contSecondHeader-UGeJ
  .header__secondHeader-3MG5 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  max-width: 1440px;
  min-height: 43px;
  padding: 0 10px;
}
@media (min-width: 768px) {
  .header__headerContainer-1Yv7
    .header__contSecondHeader-UGeJ
    .header__secondHeader-3MG5 {
    padding: 0 20px;
  }
}
@media (min-width: 1024px) {
  .header__headerContainer-1Yv7
    .header__contSecondHeader-UGeJ
    .header__secondHeader-3MG5 {
    padding: 0 40px;
  }
}
.header__headerContainer-1Yv7
  .header__contSecondHeader-UGeJ
  .header__secondHeader-3MG5
  .header__dropDownMenuNodes-Ldn2
  span {
  height: 43px;
}
.header__headerContainer-1Yv7
  .header__contSecondHeader-UGeJ
  .header__secondHeader-3MG5.header__isPersonalizedSection-3AtT
  .header__dropDownMenuNodes-Ldn2
  span {
  height: 63px;
}
.header__headerContainer-1Yv7
  .header__contSecondHeader-UGeJ
  .header__secondHeader-3MG5
  .header__logo-fVdn {
  height: 63px;
}
@media (min-width: 1024px) {
  .header__headerContainer-1Yv7
    .header__contSecondHeader-UGeJ
    .header__secondHeader-3MG5
    .header__logo-fVdn {
    margin-right: 30px;
    transition: opacity 0.5s;
  }
  .header__headerContainer-1Yv7
    .header__contSecondHeader-UGeJ
    .header__secondHeader-3MG5
    .header__logo-fVdn:hover {
    opacity: 0.6;
  }
}
.header__headerContainer-1Yv7
  .header__contSecondHeader-UGeJ
  .header__secondHeader-3MG5
  .header__icon-2kgH {
  width: 25px;
  height: 25px;
}
@media (min-width: 1024px) {
  .header__headerContainer-1Yv7
    .header__contSecondHeader-UGeJ
    .header__secondHeader-3MG5
    .header__icon-2kgH {
    margin-right: 30px;
  }
}
.header__headerContainer-1Yv7
  .header__contSecondHeader-UGeJ
  .header__secondHeader-3MG5
  .header__iconSearch-3DtC {
  width: 23px;
  height: 23px;
}
.header__headerContainer-1Yv7
  .header__contSecondHeader-UGeJ
  .header__secondHeader-3MG5
  .header__leftSide-HBv1 {
  display: flex;
  align-items: center;
  min-width: inherit;
  justify-content: flex-start;
  justify-items: left;
}
.header__headerContainer-1Yv7
  .header__contSecondHeader-UGeJ
  .header__secondHeader-3MG5
  .header__centerSide-tbBT {
  width: 100%;
  height: 100%;
  margin: auto;
  overflow: hidden;
  display: block;
}
.header__headerContainer-1Yv7
  .header__contSecondHeader-UGeJ
  .header__secondHeader-3MG5
  .header__centerSide-tbBT
  .header__logo-fVdn {
  margin: auto;
  height: 63px;
  transition: opacity 0.5s;
}
.header__headerContainer-1Yv7
  .header__contSecondHeader-UGeJ
  .header__secondHeader-3MG5
  .header__centerSide-tbBT
  .header__logo-fVdn:hover {
  opacity: 0.6;
}
.header__headerContainer-1Yv7
  .header__contSecondHeader-UGeJ
  .header__secondHeader-3MG5
  .header__centerSide-tbBT
  .header__sectionsGroupMenu-2yZb {
  margin: auto;
}
@media (min-width: 1024px) {
  .header__headerContainer-1Yv7
    .header__contSecondHeader-UGeJ
    .header__secondHeader-3MG5
    .header__centerSide-tbBT.header__leftAlignOnlyDesktop-sgvF {
    margin: 0;
  }
  .header__headerContainer-1Yv7
    .header__contSecondHeader-UGeJ
    .header__secondHeader-3MG5
    .header__centerSide-tbBT.header__leftAlignOnlyDesktop-sgvF
    .header__icon-2kgH,
  .header__headerContainer-1Yv7
    .header__contSecondHeader-UGeJ
    .header__secondHeader-3MG5
    .header__centerSide-tbBT.header__leftAlignOnlyDesktop-sgvF
    .header__logo-fVdn {
    margin-right: 30px;
  }
  .header__headerContainer-1Yv7
    .header__contSecondHeader-UGeJ
    .header__secondHeader-3MG5
    .header__centerSide-tbBT.header__leftAlignOnlyDesktop-sgvF
    .header__sectionsGroupMenu-2yZb {
    margin: 0;
  }
}
.header__headerContainer-1Yv7
  .header__contSecondHeader-UGeJ
  .header__secondHeader-3MG5
  .header__rightSide-3j5s {
  display: flex;
  justify-content: flex-end;
  justify-items: right;
}
@media (min-width: 1024px) {
  .header__headerContainer-1Yv7
    .header__contSecondHeader-UGeJ
    .header__secondHeader-3MG5
    .header__rightSide-3j5s {
    min-width: 60px;
  }
}
.header__headerContainer-1Yv7
  .header__contSecondHeader-UGeJ
  .header__secondHeader-3MG5
  .header__rightSide-3j5s
  .header__icon-2kgH {
  margin: 0;
}
.header__headerContainer-1Yv7 .header__profile-V-1C {
  width: 25px;
  height: 25px;
}
.header__headerContainer-1Yv7 .header__profile-V-1C.header__noradius-mfFX {
  border-radius: 0;
}
.header__headerContainer-1Yv7 .header__liveTicker-2cud {
  display: none;
  white-space: nowrap;
  line-height: initial;
}
@media (min-width: 1024px) {
  .header__headerContainer-1Yv7 .header__liveTicker-2cud {
    font-size: 10px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 5px 8px 3px 7px;
    display: flex;
    align-items: center;
  }
}
.header__headerContainer-1Yv7 .header__userMenu-1uV3 ul {
  transform: translateY(10px);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  transition: opacity 0.3s ease 0s;
  border-radius: 3px;
  background-color: #fff;
  padding: 0;
}
.header__headerContainer-1Yv7 .header__userMenu-1uV3 ul button,
.header__headerContainer-1Yv7 .header__userMenu-1uV3 ul span {
  height: 100%;
  color: #464646;
  text-align: center;
  width: 100%;
}
.header__headerContainer-1Yv7 .header__userMenu-1uV3 ul li:not(:first-child) {
  border-top: 1px solid grey;
}
.header__headerContainer-1Yv7 .header__userMenu-1uV3 ul li {
  width: 160px;
  height: 44px;
}
.header__headerContainer-1Yv7 .header__userMenu-1uV3 ul::before {
  border-bottom-color: #fff !important;
}
.header__headerContainer-1Yv7 .header__visibleOnlyDesktop-3Bai {
  display: none;
}
@media (min-width: 1024px) {
  .header__headerContainer-1Yv7 .header__visibleOnlyDesktop-3Bai {
    display: flex;
  }
}
.header__headerContainer-1Yv7 .header__visibleUntilDesktop-2I7u {
  display: flex;
}
@media (min-width: 1024px) {
  .header__headerContainer-1Yv7 .header__visibleUntilDesktop-2I7u {
    display: none;
  }
}
@media (min-width: 1024px) {
  .header__headerContainer-1Yv7.header__collapsed-2YAM
    .header__secondHeader-3MG5 {
    height: 63px;
  }
  .header__headerContainer-1Yv7.header__collapsed-2YAM
    .header__secondHeader-3MG5
    .header__leftSide-HBv1 {
    padding: 0;
    display: flex;
    align-items: center;
    min-width: inherit;
    justify-content: inherit;
    justify-items: inherit;
  }
  .header__headerContainer-1Yv7.header__collapsed-2YAM
    .header__secondHeader-3MG5
    .header__leftSide-HBv1
    .header__logo-fVdn {
    margin-right: 30px;
    height: 63px;
    transition: opacity 0.5s;
  }
  .header__headerContainer-1Yv7.header__collapsed-2YAM
    .header__secondHeader-3MG5
    .header__leftSide-HBv1
    .header__logo-fVdn:hover {
    opacity: 0.6;
  }
  .header__headerContainer-1Yv7.header__collapsed-2YAM
    .header__secondHeader-3MG5
    .header__centerSide-tbBT {
    margin: 0;
  }
  .header__headerContainer-1Yv7.header__collapsed-2YAM
    .header__secondHeader-3MG5
    .header__centerSide-tbBT
    .header__dropDownMenuNodes-Ldn2
    span {
    height: 63px;
  }
  .header__headerContainer-1Yv7.header__collapsed-2YAM
    .header__secondHeader-3MG5
    .header__rightSide-3j5s {
    min-width: inherit;
    justify-content: inherit;
    justify-items: inherit;
  }
}
.header__headerContainer-1Yv7 .header__white-pmFM a,
.header__headerContainer-1Yv7 .header__white-pmFM button,
.header__headerContainer-1Yv7 .header__white-pmFM span {
  color: #fff;
  border-color: #fff;
  transition: opacity 0.5s;
}
@media (hover: hover) {
  .header__headerContainer-1Yv7 .header__white-pmFM a:hover,
  .header__headerContainer-1Yv7 .header__white-pmFM button:hover,
  .header__headerContainer-1Yv7 .header__white-pmFM span:hover {
    opacity: 0.6;
  }
}
.header__headerContainer-1Yv7 .header__black-3iVP a,
.header__headerContainer-1Yv7 .header__black-3iVP button,
.header__headerContainer-1Yv7 .header__black-3iVP span {
  color: #000;
  border-color: #000;
  transition: opacity 0.5s;
}
@media (hover: hover) {
  .header__headerContainer-1Yv7 .header__black-3iVP a:hover,
  .header__headerContainer-1Yv7 .header__black-3iVP button:hover,
  .header__headerContainer-1Yv7 .header__black-3iVP span:hover {
    opacity: 0.6;
  }
}
.header__headerContainer-1Yv7 .header__dropDownMenuNodes-Ldn2 {
  position: absolute;
}
.header__headerContainer-1Yv7 .header__dropDownMenuNodes-Ldn2 ul {
  background-color: #fff;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
  color: #000;
}
.header__headerContainer-1Yv7 .header__dropDownMenuNodes-Ldn2 ul li {
  padding: 7px 14px;
  text-transform: capitalize;
  min-height: 14px !important;
}
.header__headerContainer-1Yv7 .header__dropDownMenuNodes-Ldn2 ul li > div {
  min-height: 14px;
  line-height: 14px;
}
.header__headerContainer-1Yv7
  .header__dropDownMenuNodes-Ldn2
  ul
  li:first-child {
  padding-top: 14px;
}
.header__headerContainer-1Yv7 .header__dropDownMenuNodes-Ldn2 ul li:last-child {
  padding-bottom: 14px;
}
.header__headerContainer-1Yv7 .header__dropDownMenuNodes-Ldn2 ul a,
.header__headerContainer-1Yv7 .header__dropDownMenuNodes-Ldn2 ul span {
  height: auto;
  color: #000;
}
.header__headerContainer-1Yv7 .header__logo-fVdn {
  width: -webkit-max-content;
  width: max-content;
  transition: opacity 0.5s;
}
.header__headerContainer-1Yv7 .header__logo-fVdn:hover {
  opacity: 0.6;
}
.header__headerContainer-1Yv7 .header__logo-fVdn img {
  height: 100%;
  width: auto;
}
.breadcrumb__breadcrumb_menu-6Wz4 {
  transition: height 0.3s, padding 0.3s;
  height: 48px;
  padding: 12px 0;
  padding-bottom: 0;
  background-color: #141414;
}
.breadcrumb__breadcrumb_menu-6Wz4.breadcrumb__hideBreadCrumb-2Dwg {
  transition: height 0.5s, padding 0.5s;
  height: 0;
  padding: 0;
  overflow: hidden;
}
@media (min-width: 960px) {
  .breadcrumb__breadcrumb_menu-6Wz4 {
    display: none;
  }
}
.breadcrumb__section_link_breadcrumb-2Dr-,
a.breadcrumb__section_link_breadcrumb-2Dr- {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 500;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  flex-grow: 1;
  color: #fff;
}
@media (min-width: 768px) {
  .breadcrumb__section_link_breadcrumb-2Dr-,
  a.breadcrumb__section_link_breadcrumb-2Dr- {
    padding: 0 20px;
  }
}
.breadcrumb__en_directo_breadcrumb-wqF-,
a.breadcrumb__en_directo_breadcrumb-wqF- {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 500;
  text-align: right;
  justify-content: flex-end;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  flex-grow: 1;
  color: #fff;
}
@media (min-width: 768px) {
  .breadcrumb__en_directo_breadcrumb-wqF-,
  a.breadcrumb__en_directo_breadcrumb-wqF- {
    padding: 0 20px;
  }
}
.breadcrumb__cnt_breadCrumb_menu-1h02 {
  max-width: 1064px;
  display: flex;
  padding: 0;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.breadcrumb__section_link_breadcrumb-2Dr-.breadcrumb__selected-3iST,
a.breadcrumb__section_link_breadcrumb-2Dr-.breadcrumb__selected-3iST {
  flex-grow: 0;
  border-bottom-style: solid;
  border-bottom-width: 4px;
  color: #000;
}
.breadcrumb__en_directo_breadcrumb-wqF-.breadcrumb__selected-3iST,
a.breadcrumb__en_directo_breadcrumb-wqF-.breadcrumb__selected-3iST {
  flex-grow: 0;
  border-bottom-style: solid;
  border-bottom-width: 4px;
  color: #000;
}
.breadcrumb__live_circle_breadcrumb-1BH0 {
  display: inline-block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #db1218;
  margin-right: 10px;
  margin-bottom: 3px;
}
:root {
  --color-white: #fff;
  --color-grey: #808080;
  --color-black: #000;
}
.header__headerMultisiteContainer-1XnT div[class*="dropDownMenu"] ul {
  z-index: 11078;
}
.header__headerMultisiteContainer-1XnT .header__hoverMenu-2CS8 {
  display: none;
  position: absolute;
  width: 100%;
  justify-content: center;
  z-index: 11077;
}
@media (min-width: 960px) {
  .header__headerMultisiteContainer-1XnT .header__hoverMenu-2CS8 {
    display: flex;
  }
}
.header__headerMultisiteContainer-1XnT
  .header__hoverMenu-2CS8
  .header__submenuHover-1AUc {
  background-color: #fff;
  background-color: #fff;
  background-color: var(--color-white, grey);
  border-top-width: 1px;
  border-top-style: solid;
  display: inline;
  color: #000;
  min-height: 45px;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2);
  padding: 24px 0 10px 0;
}
.header__headerMultisiteContainer-1XnT
  .header__hoverMenu-2CS8
  .header__submenuHover-1AUc
  .header__list-3USC {
  flex-direction: row;
  padding: 0 208px;
  display: flex;
  flex-wrap: wrap;
  max-width: 1440px;
  padding: 0 40px;
  margin: 0 auto;
}
.header__headerMultisiteContainer-1XnT
  .header__hoverMenu-2CS8
  .header__submenuHover-1AUc
  .header__list-3USC
  .header__item-2TSs {
  width: 33.3%;
}
@media (min-width: 1200px) {
  .header__headerMultisiteContainer-1XnT
    .header__hoverMenu-2CS8
    .header__submenuHover-1AUc
    .header__list-3USC
    .header__item-2TSs {
    width: 25%;
  }
}
.header__headerMultisiteContainer-1XnT
  .header__hoverMenu-2CS8
  .header__submenuHover-1AUc
  .header__list-3USC
  .header__item-2TSs {
  min-height: 14px;
  margin-bottom: 14px;
  height: inherit;
  background-color: #fff;
  color: #464646 !important;
  justify-content: flex-start;
  align-self: flex-start;
}
.header__headerMultisiteContainer-1XnT
  .header__hoverMenu-2CS8
  .header__submenuHover-1AUc
  .header__list-3USC
  .header__item-2TSs
  a {
  transition: all 0.5s;
  align-self: self-start;
  color: #464646 !important;
  font-size: 14px;
}
.header__headerMultisiteContainer-1XnT
  .header__hoverMenu-2CS8
  .header__submenuHover-1AUc
  .header__list-3USC
  .header__item-2TSs
  a:hover {
  opacity: 0.6;
}
.header__headerMultisiteContainer-1XnT .header__linkTag--S1O {
  position: relative;
  min-height: 43px;
  line-height: 43px;
  white-space: nowrap;
}
.header__headerMultisiteContainer-1XnT
  .header__linkTag--S1O
  .header__selectedSubsection-3YBZ {
  position: absolute;
  border: 1px solid;
  width: 35px;
  bottom: 6px;
  left: 50%;
  transform: translateX(-50%);
}
.header__headerMultisiteContainer-1XnT.header__staticHeader-1Ocd {
  position: fixed;
  top: 0px;
  z-index: 111077;
}
.header__headerMultisiteContainer-1XnT.header__stickyHeader-3Cuo {
  position: fixed;
  top: -120px;
  transition: top 0.3s linear;
  z-index: 11077;
}
.header__subsAvailableModal-2jBi {
  z-index: 2000000000 !important;
  position: fixed;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  border: 1px solid #b2b2b2;
  box-shadow: 0 7px 7px -5px rgb(0 0 0 / 20%);
}
.header__modalText-vl4A {
  padding: 10px 0 20px 0;
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.7rem;
}
